**/node_modules
**/dist
**/dist-ssr
**/*.local
**/*.tsbuildinfo
**/.vercel

.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.env
.env.*
!.env.development`n!.env.production

